# Environments
.env
.env.*
!.env.example

# Streamlit secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Project Specific
README_hola.md
